{% extends "base.html" %}

{% block header %}
    {{ block.super }}

    <div class="starter-template">
        <h1>Платежи</h1>
        <p class="lead">История всех платежей за последний месяц</p>
    </div>
{% endblock %}

{% block body %}
    <table class="table table-striped">
        <tr>
            <th>Где</th>
            <th>Что</th>
            <th>Сумма</th>
            <th>Кто</th>
            <th>Когда</th>
        </tr>
        {% for payment in payments %}
            <tr>
                <td>{{ payment.place }}</td>
                <td>
                    <ul>
                        {% for entry in payment.contents.names %}
                            <li>{{ entry }}</li>
                        {% endfor %}
                    </ul>
                </td>
                <td>{{ payment.amount }}</td>
                <td>{{ payment.user }}</td>
                <td>{{ payment.date }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

