{% extends "base.html" %}
{% load static %}

{% block header %}
    {{ block.super }}

    <div class="starter-template">
        <h1>Мои платежи</h1>
        <p class="lead">История моих платежей за последний месяц</p>
    </div>
{% endblock %}

{% block css %}
    {{ block.super }}

    <link rel="stylesheet" href="{% static "css/bootstrap-tagsinput.css" %}">
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static "js/bootstrap-tagsinput.min.js" %}"></script>
    <script src="{% static "js/bootstrap3-typeahead.min.js" %}"></script>
    <script>
        {{ block.super }}
        $(document).ready(function(){
            $("#store_type-choices a").click(function() {
                $("#store_type").val($(this).text());
            });

            var names = ['{{ names_suggestlist|join:"', '" }}'];

            $("#store_name").typeahead({ source:names });
        });
    </script>
{% endblock %}

{% block body %}
    <div id="new-entry" class="panel panel-default">
        <a data-toggle="collapse" href="#new-entry-form">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-plus"></span> Добавить
            </div>
        </a>
        <div id="new-entry-form" class="panel-collapse collapse">
            <div class="panel-body">
                <form class="form-horizontal" method="POST" role="form">
                    {% csrf_token %}
                    <fieldset>
                        <div class="form-group">
                          <label class="col-md-4 control-label" for="store_type">Тип</label>
                          <div class="col-md-4">
                            <div class="input-group">
                              <input id="store_type" name="store_type" class="form-control" placeholder="---" type="text" required="">
                              <div class="input-group-btn">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                  Выбрать
                                  <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu pull-right" id="store_type-choices">
                                  {% for store_type in store_types %}
                                    <li><a href="#">{{ store_type.name }}</a></li>
                                  {% endfor %}
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="form-group">
                          <label class="col-md-4 control-label" for="store_name">Название</label>
                          <div class="col-md-4">
                              <input id="store_name" name="store_name" type="text" placeholder="---" autocomplete="off" class="form-control input-md" required="">
                          </div>
                        </div>

                        <div class="form-group">
                          <label class="col-md-4 control-label" for="amount">Сумма</label>
                          <div class="col-md-4">
                              <input id="amount" name="amount" type="text" placeholder="00.00" class="form-control input-md" required="">
                          </div>
                        </div>

                        <div class="form-group">
                          <label class="col-md-4 control-label" for="contents">Покупки</label>
                          <div class="col-md-4">
                              <select id="contents" name="contents" multiple data-role="tagsinput"></select>
                          </div>
                        </div>

                        <div class="form-group">
                          <label class="col-md-4 control-label" for="submit"></label>
                          <div class="col-md-4">
                              <button id="submit" name="submit" type="submit" class="btn btn-default">Сохранить</button>
                          </div>
                        </div>

                    </fieldset>
                </form>
            </div>
        </div>
    </div>

    {% with payments=payments %}
        {% include "parts/payments_table.html" %}
    {% endwith %}
{% endblock %}

