{% load number_formatting %}

<table class="table table-striped">
    <tr>
        <th>Где</th>
        <th>Что</th>
        <th>Сумма</th>
        <th>Кто</th>
        <th>Когда</th>
        <th>Распределение</th>
    </tr>
    {% for payment in payments %}
        <tr>
            <td>{{ payment.place }}</td>
            <td>
                <ul>
                    {% for entry in payment.contents.names %}
                        <li>{{ entry }}</li>
                    {% endfor %}
                </ul>
            </td>
            <td>{{ payment.amount | currency }}</td>
            <td>{{ payment.user }}</td>
            <td>{{ payment.date|date:"SHORT_DATETIME_FORMAT" }}</td>
            <td>
                <a href="{% url "deal_payment" payment.id %}"
                    {% if payment.dealed %}
                        style="color: green;"
                    {% endif %}
                >
                    {% if payment.dealed %}
                        <span class="glyphicon glyphicon-ok-sign"></span>
                    {% else %}
                        <span class="glyphicon glyphicon-question-sign"></span>
                    {% endif %}
                </a>
            </td>
        </tr>
    {% endfor %}
</table>
